@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }

 body{
    background: black;
 } 
  
/* Hide the custom scrollbar from LocomotiveScroll */
[data-scrollbar] {
    display: none !important;
  }
  
  /* Hide native scrollbar for all browsers */
  body, html {
    overflow: hidden; /* Prevent native scrollbars from appearing */
  }
  
  /* Hide scrollbar in modern browsers */
  body::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, Opera */
  }
  
  html, body {
    scrollbar-width: none; /* Hide scrollbar in Firefox */
  }
  

  